    /*
--IMPORTS
*/
    
    @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Aref+Ruqaa:wght@400;700&family=Faster+One&family=Luckiest+Guy&display=swap');
    /*Carrito de compra-Desktop*/
    
    @import "style.css";
   
    
    p {
        font-size: 1em;
    }
    
    .producto-img {
        width: 100px;
        height: 100px;
    }
    
    .hidden {
        display: none;
    }
    
    table,
    .info {
        display: flex;
        flex: wrap;
        font-family: "Aref Ruqaa", Helvetica, Arial, sans-serif;
    }
    
    .info {
        display: inline;
    }
    
  
    th {
        font-size: 16px;
        font-weight: lighter;
    }
    
    .botones{
        display:flex;
        flex:wrap;
    }
    .botones-seguir{
        position: absolute;
        top: 434px;
    }
   #ticket{
       position:absolute;
       top:460px;
   }

   #descuento{
    width: max-content;
    position:absolute;
    top:80px;
    left:150px;
   }

   #vaciar{
       position:absolute;
       top:35px;
       left: 150px;
   }

   #seguir{
       width: max-content;
       position:absolute;
       top:-10px;
       left:150px;
   }
   @media(min-width:768px) and (max-width:1023px) {
    th{
            padding-right:20px;
        }

        .producto-img {
            width: 200px;
            height: 200px;
        }
        .botones,
        .info {
            display: flex;
            flex: wrap;
        }
        .info {
            position: absolute;
            top: -3%;
            left: 650px;
        }
        .total {
            width: max-content;
            position: relative;
            top: 45px;
            left: 2px;
        }
        .cantidad {
            position: relative;
            top: 77px;
            left: -125px;
        }
        #ticket {
            position: absolute;
            top: 115px;
            left: 0px;
        }
        #pagar {
            position: relative;
            top: 114px;
            left: -100px;
        }
        .botones-seguir {
            display: flex;
            right: 350px;
            top: 55px;
        }
        #descuento {
            display: flex;
            position: absolute;
            top: -200px;
            left: 175px;       
        }
        #vaciar {
            position: absolute;
            top: 140px;
            left: 175px;
        }
        #seguir {
            position: absolute;
            top: 80px;
            left: 175px;       
    }
    
    @media(min-width:1024px) {
        .producto-img{
            width:350px;
            height: 350px;
        }
        .hidden{
            display: table-cell;
        }
        th{
            font-size: 2em;
            padding-right:20px;
        }
    }