    * {
        font-family: font-family: "Aref Ruqaa", Helvetica, Arial, sans-serif;
        ;
    }
    
    body {
        background-color: #f5efef;
    }
    
    .productoElegido {
        display: flex;
        flex: wrap;
    }
    
    .productoDetalle {
        display: flex;
        flex: wrap;
    }
    
    .imgProducto {
        width: 250px;
        height: 400px;
        position: absolute;
        left: 86%;
        top: 108%;
        border: black 6px solid;
    }
    
    .productoDescripcion {
        width: 200px;
        height: 150px;
        display: inline-block;
        font-size: 2em;
        position: relative;
        left: 210%;
        top: 190%;
    }
    
    .tachado {
        text-decoration: line-through;
        position: absolute;
        left: 66%;
        top: 21%
    }
    
    .productoNombre {
        position: absolute;
        left: 150%;
    }