@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Aref+Ruqaa:wght@400;700&family=Faster+One&family=Luckiest+Guy&display=swap');
@import "style.css";
* {
    font-family: "Aref Ruqaa", Helvetica, Arial, sans-serif;
    ;
}

body {
    background-color: #f5efef;
}

.container{
    box-sizing: border-box;
    margin-left: auto;
    margin-right:auto;
}    

.texto{
    display:inline-block;
    margin-top: auto;
    margin-bottom:auto;
}

