@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Aref+Ruqaa:wght@400;700&family=Faster+One&family=Luckiest+Guy&display=swap');
@import "style.css";
* {
    font-family: "Aref Ruqaa", Helvetica, Arial, sans-serif;
    ;
}

body {
    background-color: #f5efef;
}

.titulo {
    margin-left: 20px;
}

.principal {
    display: flex;
    position: relative;
    width: 24%;
    height: 590px;
    top: 100px;
    align-self: center;
    margin-right: auto;
    margin-left: auto;   
}
.producto{
    position:relative;
    left:-109%;
}
.imgProducto {
    width: 80%;
    height: auto;
    display: flex;
    
}

.productoNombre {
    font-size: 2em;
    width: 299px;
}

.productoDescripcion {
    display: flex;
    width: 158%;
    font-size: 16px;
}

.datosProducto {
    align-self: auto;
    position: absolute;
    left: 38%;
    top: 75%;
}

.productoPrecio {
    position: absolute;
    top: -115px;
    left: -119px;
}

.tachado {
    text-decoration: line-through;
    position: relative;
    top: -67px;
}

.productoDescuento {
    position: absolute;
    top: -70px;
    left: -110px;
}

.boton {
    position: absolute;
    top: 69%;
    left: 30%;
}

@media(min-width: 410px) and (max-width:767px){
    .principal{
        position:relative;
        left:-25%;
    }
}

@media(min-width:768px) and (max-width:1023px) {
    .imgProducto {
        width: 100%;
        height: 65%;
        position: relative;
        top: -35%;
    }
    .principal {
        width: 18%;
        height: 300px;
        right: 35%;
    }
    .productoNombre {
        position: relative;
        top: 95%;
    }
    .productoDescripcion {
        position: absolute;
        width: 100%;
        left: 170%;
        top: 25%;
    }
    .productoDescuento {
        position: absolute;
        width: max-content;
        left: 810%;
        top: -800%;
    }
    .productoPrecio {
        position: absolute;
        width: max-content;
        left: 525%;
        top: -840%;
    }
    .tachado {
        position: relative;
        width: max-content;
        border: black solid 1px;
        left: 623%;
        top: -230px;
        color: red;
    }
    .boton {
        left: 165%;
        top: 55%;
        width: max-content;
    }
}

@media(min-width:1024px){
    .productoNombre {
        width: max-content;
        top: -1%;
    }
    .principal {
        width:600px;
        height:400px;
        left: 28%;
    }
    .imgProducto {
        width: 200px;
        height: 200px;
        top: 5%;
    }
   
    .productoDescripcion {
        font-size: 2em;
        position:relative;
        width: 400px;
        top: -40%;
        left:130%;
        border: dashed 1px black;
    }
    .productoPrecio {
        width: max-content;
        font-size: 3em;
        position:absolute;
        top: -307px;
        left: 380px;
    }
    .productoDescuento {
        width: max-content;
        font-size: 2em;
        position:absolute;
        top: -307px;
        left:250px;
    }

    .tachado {
        font-size: 2em;
        top: -337px;
        left: 250px;
    }
}