@import "header.css";
* {
    box-sizing: border-box;
    margin: 0
}

.productos {
    display: flex;
    flex-wrap: wrap;
}

.productos .titulo h2 {
    margin-top: 5px;
    text-align: left;
    font-size: 24px;
    color: black;
    padding: 20px;
    text-align: center;
    background-color: #0f4c75;
    color: white;
    box-shadow: -5px 5px 8px #3282b8;
}

.productos .contenido {
    background-color: #f5efef;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.productos .contenido figure img {
    width: 150px;
    height: 150px;
}

.productos article {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    height: 150px;
}

.productos article h2 {
    font-size: 15px;
    margin-top: -60px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 10px;
    background-color: #0f4c75
}

.productos article span {
    color: var(--color-verde);
    margin-left: 10px;
    display: flex;
}

.prec {
    position: absolute;
    top: -160px;
    right: 0px;
    font-size: 10px;
    padding: 10px;
    color: black;
    background-color: gray;
    width: 40%;
    height: 20%;
}

.ver-mas {
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: none;
    list-style: none;
}

@media (min-width:400px) and (max-width: 767px) {
    .productos {
        display: flex;
        flex-wrap: wrap;
    }
    .productos .titulo h2 {
        margin-top: 5px;
        text-align: left;
        font-size: 24px;
        color: black;
        padding: 20px;
        text-align: center;
        background-color: #0f4c75;
        color: white;
        box-shadow: -5px 5px 8px #3282b8;
    }
    .productos .contenido {
        background-color: #f5efef;
        margin-bottom: 30px;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
    }
    .productos .contenido figure img {
        width: 150px;
        height: 150px;
    }
    .productos article {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        position: relative;
        height: 150px;
    }
    .productos article h2 {
        font-size: 100%;
        margin-top: -60px;
        display: flex;
        align-items: center;
        color: white;
        border-radius: 10px;
        background-color: #0f4c75
    }
    .productos article span {
        color: var(--color-verde);
        margin-left: 10px;
        display: flex;
    }
    .prec {
        position: absolute;
        top: -160px;
        right: 0px;
        font-size: 10px;
        padding: 10px;
        color: black;
        background-color: gray;
        width: 40%;
        height: 20%;
    }
    .ver-mas {
        margin-right: 30px;
        margin-left: 30px;
        text-decoration: none;
        list-style: none;
    }
}