    /*
--IMPORTS
*/
    
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Aref+Ruqaa:wght@400;700&family=Faster+One&family=Luckiest+Guy&display=swap');
/*Carrito de compra-Mobile*/

@import "style.css";

*{
    box-sizing:border-box;
    margin:0
}

body{
     background: linear-gradient(#3282b8,#202040);
}
#formulario{
 margin:auto;
 width: 95%;
 max-width: 600px;
 padding: 20px;
}

.correo, .password{
    margin-bottom: 20px;
}
input{
    display:block;
    padding:30px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
}

/*Tablet*/
@media(max-width:768px){
    form{
        width: 75%;
    }
}
/*Desktop*/
@media(max-width: 1024px){
    form{
        width: 50%;
    }
}