@import "style.css";
* {
    box-sizing: border-box;
}

body {
    background: #202040;
    color: #fff;
    line-height: 1.6;
    font-family: 'Aclonica', sans-serif;
    padding: 0 1.5em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

h1 {
    text-align: center;
    font-size: 2em;
}

.agrupacion {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.agrupacion>* {
    padding: 1em;
}

.agrupacion {
    background: #0f4c75;
}

.agrupacion form p {
    margin: 0;
    padding: 1em;
}

.agrupacion form .block {
    grid-column: 1 / 3;
}

.agrupacion form button,
.agrupacion form input {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #3282b8;
}

.agrupacion form button {
    background: coral;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.agrupacion form button:hover,
.agrupacion form button:focus {
    background: #3282b8;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

a {
    color: #3282b8;
}