<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        <div class="input-group mb-3">
            <select class="form-control">
                <option>Aumentar</option>
                <option>Descontar</option>
              </select>
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
            </div>
            <input type="text" class="form-control" aria-label="%" aria-describedby="inputGroup-sizing-default">
          </div>
        <%- include('partials/footer')%>
    </body>


</html>