<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        <div class="boton-de-ayuda">
            <p>¿<a href="#">Necesitas ayuda</a>?</p>
        </div>
        <div class="conteiner">
            <div class="body-de-form">
                <h4>Ingrese los datos del Producto</h4>
                <form action="#" method="post" enctype="multipart/form-data">
                    <p>
                        <input class="datos-producto" type="file" name="imagen-del-producto" id="imagen-del-producto">
                    </p>
                    <p>
                        <textarea name="descripcion-del-producto" id="descripcion-del-producto" cols="20" rows="5"
                            placeholder="Descripcion del producto"></textarea>
                    </p>
                    <p>
                        <input class="datos-producto" type="text" name="nombre-del-producto" id="nombre-del-producto"
                            placeholder="Ingrese el nombre del producto">
                    </p>
                    <p>
                        <input class="datos-producto" type="text" name="id-de-producto" id="id-de-producto"
                            placeholder="Ingrese el ID del producto">
                    </p>
                    <p>
                        <input class="datos-producto" type="text" name="precio-de-proucto" id="precio-de-producto"
                            placeholder="Ingrese el precio del producto">
                    </p>
                    <p>
                        <input class="datos-producto" type="text" name="descuento" id="descuento"
                            placeholder="Ingrese el descripcion del producto">
                    </p>
                    <p>
                        <input class="datos-producto" type="text" name="categoria" id="categoria"
                            placeholder="Ingrese la categoria del producto">
                    </p>
                    <p>
                        <input class="datos-producto" type="text" name="etiqueta" id="etiqueta"
                            placeholder="Ingrese la etiqueta del producto">
                    </p>
                    <input class="botones" type="submit" value="Subir producto">
                    <input class="botones" type="submit" value="Borrar todo">
                </form>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>

</html>