<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        <div class="conteiner">
            <div class="body-de-form">
                <h4>Ingrese los datos del Producto</h4>
                <form action="/products/create" method="post" enctype="multipart/form-data">
                    <p>
                        <input class="datos-producto" type="file" name="image" id="imagen-del-producto">
                    </p>

                    <p>
                        <input class="datos-producto" type="text" name="marca" id="marca"
                        placeholder="Ingrese la marca del producto">
                    </p>
                    <p>
                        <textarea name="descripcion" id="descripcion-del-producto" cols="20" rows="5"
                            placeholder="Descripcion del producto"></textarea>
                    </p>
                    <p>
                        <input class="datos-producto" type="text" name="nombre" id="nombre-del-producto"
                            placeholder="Ingrese el nombre del producto">
                    </p>
                  
                    <p>
                        <input class="datos-producto" type="text" name="precio" id="precio-de-producto"
                            placeholder="Ingrese el precio del producto">
                    </p>
                    <p>
                        <input class="datos-producto" type="text" name="descuento" id="descuento-de-producto"
                            placeholder="Ingrese el descuento del producto">
                    </p>
                    <p> 
                            Estado del producto
                            <select name="estado" id="">
                                <option value = "sin-estado"selected>Sin estado</option>
                                <option value = "pmv">PMV</option>
                                <option value = "oferta">Oferta</option>
                            </select>
                    </p>
                    <p>
                            Categoría del producto
                            <select name="categoria" id="">
                                <option value ="escolar" selected>Escolar</option>
                                <option value = "oficina">Oficina</option>
                                <option value = "artistica">Artística</option>
                            </select>
                    </p>
                   
                    <input class="botones" type="submit" value="Subir producto">
                    <input class="botones" type="reset" value="Borrar todo">
                </form>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>

</html>