<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="cont 12">
        <form action="#" method="get">
            <div class="cont 6">
                <input type="text" name="nombre del Producto" value="Nombre del producto">
            </div>
        </form>
    </div>
</body>
</html>