<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <div class="row">
                <div class="col-12">
                    <table class="table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Imagen </th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th class="hidden">Subtotal</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <img class="producto-img" src="/images/productos/img-acuarelas-faber-castell.jpg" alt="">
                                </th>
                                <th>Acuarelas x12</th>
                                <th>$720</th>
                                <th>2</th>
                                <th class="hidden">$1440</th>
                            </tr>
                            <tr>
                                <th>
                                    <img class="producto-img" src="/images/productos/img-cartuchera-canopla-moving.jpg" alt="">
                                </th>
                                <th>Cartuchera Canopla Unicornio</th>
                                <th>$375</th>
                                <th>1</th>
                                <th class="hidden">$375</th>
                            </tr>
                            <tr>
                                <th>
                                    <img class="producto-img" src="/images/productos/img-goma-maped.jpg " alt="">
                                </th>
                                <th>Goma de borrar</th>
                                <th>$30</th>
                                <th>5</th>
                                <th class="hidden">$150</th>
                            </tr>
                            <tr>
                                <th>
                                    <img class="producto-img" src="/images/productos/img-hojas-exito.jpg " alt="">
                                </th>
                                <th>Hoja rayadas x480</th>
                                <th>900</th>
                                <th>3</th>
                                <th class="hidden">$2700</th>
                            </tr>
                        </tbody>
                </div>
            </div>
            </table>
            <div class="botones">
                <div class="info">
                    <p class="total">Total de la compra</p>
                    <p class="cantidad">$4665</p>
                    <button id="ticket" type="button" class="btn btn-info">Ticket</button>
                    <button id="pagar" type="button" class="btn btn-info">Pagar</button>
                </div>
                <div class="botones-seguir">
                    <a id="seguir" class="btn btn-primary" href="/users" role="button">Seguir Comprando</a>
                    <input id="vaciar" class="btn btn-primary" type="reset" value="Vaciar Carrito">
                    <button id="descuento" type="button" class="btn btn-success">Aplicar descuento</button>
                </div>
            </div>
        <%- include('partials/footer') %>

    </body>

</html>