            <br>
            <textarea name="descripcion" id="" cols="30" rows="10"><%= producto.descripcion %> </textarea>
        </div>
        <div>
            <button type="submit">Editar</button>
        </div>

    </form>
</main>


<%- include('./partials/footer.ejs')  %> 