<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head')%>
<body>

    <div class="container">
        <div class="contenido">
            <h1><%= message %></h1>
            <h2><%= error.status %></h2>
            <p>La p치gina que est치s buscando no existe. Por favor verifica no tener errores de tipeo o quiz치s la p치gina que buscas ha sido movida</p>
            <a href="/">Volver a inicio</a>
        </div>
    </div>  

</body>
</html>

