<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            ¿Cómo registrarme?
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Para registrarte en D-Raje, deberás clickear en ingresar usuario, una vez que te encuentres en la página de login, debajo del botón
          ingresar, verás otro botón que dice "¿No tienes cuenta? Registrate", una vez que clickees ese botón, se te redigirá al formulario de registro
          donde una vez que cargues tus datos correctamente, serás redirigido al inicio.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Cómo ingreso a la página?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          En primer lugar deberás estar registrado, si todavía no te registraste y no sabes como hacerlo clickea donde dice "¿Cómo registrarme?".
          <br>Si ya estás registrado clickea en "Ingresar usario", se te redigirá al login donde deberás colocar
          el correo electrónico con el que te registraste y tu contraseña.
          <br>Si seleccionas el recuadro "Recordarme" tu sesión permanecerá abierta, incluso aún cuando cierres el navegador.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Cómo realizo una búsqueda?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          Nuestro buscador sólo admite un tipo de búsqueda a continuación les dejaremos una serie de palabras claves y cómo utilizarlas.
          <br> Podés buscar un producto por su nombre. Si no obtenes resultados, revisa haberlo escrito bien, si lo escribiste bien y no obtenes resultados, es porque todavía no lo tenemos.
          <br> Podés buscar un producto por su marca.  Si no obtenes resultados, revisa haberlo escrito bien, si lo escribiste bien y no obtenes resultados, es porque no trabajamos con esa marca.
          <br> Podés buscar un producto por su categoría. D-Raje trabaja con 3 categorías, oficina, escolar y artistica.
          <br> Podés buscar un producto por su estado. D-Raje trabaja con 2 estados, pmv (Productos más vendido) u oferta. 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            ¿Cómo veo mi perfil?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
         Primero deberás estar loggeado, si ya lo estás, al lado de cerrar sesión verás tu nombre, clickeá ahí y verás tu perfil.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            ¿Puedo editar mi perfil?
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
         Primero deberás estar loggeado, si ya lo estás, ingresa a tu perfil, allí podrás ver y cambiar los siguientes datos:
         <br> Nombre.
         <br> Apellido. 
         <br> Correo electrónico.
         <br> Tu foto de perfil.
         <br> ¡Atención! para ver el cambio de tu alias, deberás cerrar sesión y reingresar.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            ¿Como puedo ver el detalle de un producto?
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
         Tenes 2 opciones.
         <br> Si estás en el inicio, podés clickear en "ver más".
         <br> Clickeando en productos, donde verás todos los productos en detalle.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            ¿Puedo dar de baja mi cuenta?
          </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
        <div class="card-body">
         Si podés. Desde tu perfil, seleccionando clickeando en "Dar de baja mi cuenta"
         <br> ¡Atención! una vez que te des de baja, no podrás recuperar tu cuenta.
         <br> En caso de querer volver a usar los servicios de D-Raje, deberás registrarte de vuelta.
        </div>
      </div>
    </div>
    <% if (typeof user !== "undefined" && user.categoria == 'admin') { %>
      <div class="card">
      <div class="card-header" id="headingEight">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            ¿Cómo agrego un producto?
          </button>
        </h5>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
        <div class="card-body">
          Posiciona el puntero sobre "Administrar" clickea en agregar producto, te llevará a una página donde podrás agregar un nuevo producto.
          <br>Si estás de acuerdo con los datos cargado, clickea en subir producto, y tu nuevo producto se creará.
          <br> Si no estás de acuerdo, clickea borrar todo y comienza de vuelta.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingNine">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            ¿Cómo edito un producto?
          </button>
        </h5>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
        <div class="card-body">
          Posiciona el puntero sobre "Administrar" clickea en editar producto, verás una lista de todos los productos, el boton editar,te llevará a una página donde podrás editar el producto seleccionado.
          <br>Una vez que termines, marca la casilla "Aceptar los cambios." y luego editar.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTen">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            ¿Cómo elimino un producto?
          </button>
        </h5>
      </div>
      <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
        <div class="card-body">
         Por cuestiones de seguridad, no hay una opción directa para eliminar un producto.
         <br> Posicionate sobre "Administrar", se abrirá una lista, clickea en editar producto, verás una lista de todos los productos, el boton eliminar, eliminará el producto seleccionado.
        </div>
      </div>
    </div>
  <% } %>
  </div>
  <%- include('partials/footer') %>
</body>

</html>