<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>D-RAJE header prueba</title>
    <script src="https://kit.fontawesome.com/f8e68f2557.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">
</head>

<body style="background-color: #f5efef">
    <header class="container-fluid">
        <div class="logo">
            <a href="/"><img src="img/circle-cropped.png" alt=" " height="70" width="70" /></a>
        </div>

        <div class="nombre"> D - RAJE </div>

        <div class="login">
            <ul>
                <li>
                    <a href=" ">Ingresár usuario <i class="fas fa-id-badge"></i></a>
                </li>
            </ul>
        </div>

        <div class="barra">
            <form action="">
                <input type="text" name="search" placeholder="Buscar productos, marcas y más" />
                <button type="submit">
                        <i class="fas fa-search"></i>
                      </button>
            </form>
        </div>

        <nav class="barra-nav">
            <ul>
                <li class="in">
                    <a href="">Inicio</a>
                </li>
                <li class="l-n">
                    <a href="">Productos</a>
                </li>
                <li class="pc">
                    <a href="">Ayuda</a>
                </li>
                <li class="pc">
                    <a href="">Envios</a>
                </li>
                <li class="l-n">
                    <a href="">Mi carrito <i class="fas fa-shopping-cart"></i>
                      </a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container-fluid">
        <section>
            <div class="row productos">
                <div class="col-12 titulo">
                    <h2>¡Bienvenidos! a la libreria online D-RAJE</h2>
                </div>

                <div class="col-12 col-md-4 col-lg-2">
                    <div class="contenido">
                        <figure>
                            <a href=""><img src="img/productos/img-acuarelas-faber-castell.jpg " alt="" /></a>
                        </figure>
                        <article>
                            <h2>Acuarelas 12x - Faber-Castell</h2>
                            <span>"Set de 12 acuarelas ideales para pintar al óleo."</span>
                            <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                            <a href=" " class="prec"><i> Precio c/u. </i></a>
                        </article>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-2">
                    <div class="contenido">
                        <figure>
                            <a href=""><img src="img/productos/img-boligrafo-azul-simball.jpg " alt="" /></a>
                        </figure>
                        <article>
                            <h2>Bolígrafo, Simball</h2>
                            <span>"Boligrafo retractil color azul"</span>
                            <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                            <a href=" " class="prec"><i> Precio c/u. </i></a>
                        </article>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-2">
                    <div class="contenido">
                        <figure>
                            <a href=""><img src="img/productos/img-cartuchera-canopla-moving.jpg " alt="" height="100" width="100" /></a>
                        </figure>
                        <article>
                            <h2>Acuarelas 12x - Faber-Castell</h2>
                            <span> "Set de 12 acuarelas ideales para pintar al óleo."</a></span>
                            <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                            <a href=" " class="prec"><i> Precio c/u. </i></a>
                        </article>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-2">
                    <div class="contenido">
                        <figure>
                            <a href=""><img src="img/productos/img-acuarelas-faber-castell.jpg " alt="" /></a>
                        </figure>
                        <article>
                            <h2>Acuarelas 12x - Faber-Castell</h2>
                            <span>"Set de 12 acuarelas ideales para pintar al óleo."</span>
                            <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                            <a href=" " class="prec"><i> Precio c/u. </i></a>
                        </article>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-2">
                    <div class="contenido">
                        <figure>
                            <a href=""><img src="img/productos/img-boligrafo-azul-simball.jpg " alt="" /></a>
                        </figure>
                        <article>
                            <h2>Bolígrafo, Simball</h2>
                            <span>"Boligrafo retractil color azul"</span>
                            <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                            <a href=" " class="prec"><i> Precio c/u. </i></a>
                        </article>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-2">
                    <div class="contenido">
                        <figure>
                            <a href=""><img src="img/productos/img-cartuchera-canopla-moving.jpg " alt="" height="100" width="100" /></a>
                        </figure>
                        <article>
                            <h2>Acuarelas 12x - Faber-Castell</h2>
                            <span> "Set de 12 acuarelas ideales para pintar al óleo."</a></span>
                            <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                            <a href=" " class="prec"><i> Precio c/u. </i></a>
                        </article>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-2">
                    <div class="contenido">
                        <figure>
                            <a href=""><img src="img/productos/img-acuarelas-faber-castell.jpg " alt="" /></a>
                        </figure>
                        <article>
                            <h2>Acuarelas 12x - Faber-Castell</h2>
                            <span>"Set de 12 acuarelas ideales para pintar al óleo."</span>
                            <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                            <a href=" " class="prec"><i> Precio c/u. </i></a>
                        </article>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-2">
                    <div class="contenido">
                        <figure>
                            <a href=""><img src="img/productos/img-boligrafo-azul-simball.jpg " alt="" /></a>
                        </figure>
                        <article>
                            <h2>Bolígrafo, Simball</h2>
                            <span>"Boligrafo retractil color azul"</span>
                            <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                            <a href=" " class="prec"><i> Precio c/u. </i></a>
                        </article>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-2">
                    <div class="contenido">
                        <figure>
                            <a href=""><img src="img/productos/img-cartuchera-canopla-moving.jpg " alt="" height="100" width="100" /></a>
                        </figure>
                        <article>
                            <h2>Acuarelas 12x - Faber-Castell</h2>
                            <span> "Set de 12 acuarelas ideales para pintar al óleo."</a></span>
                            <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                            <a href=" " class="prec"><i> Precio c/u. </i></a>
                        </article>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-2">
                    <div class="contenido">
                        <figure>
                            <a href=""><img src="img/productos/img-acuarelas-faber-castell.jpg " alt="" /></a>
                        </figure>
                        <article>
                            <h2>Acuarelas 12x - Faber-Castell</h2>
                            <span>"Set de 12 acuarelas ideales para pintar al óleo."</span>
                            <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                            <a href=" " class="prec"><i> Precio c/u. </i></a>
                        </article>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-2">
                    <div class="contenido">
                        <figure>
                            <a href=""><img src="img/productos/img-boligrafo-azul-simball.jpg " alt="" /></a>
                        </figure>
                        <article>
                            <h2>Bolígrafo, Simball</h2>
                            <span>"Boligrafo retractil color azul"</span>
                            <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                            <a href=" " class="prec"><i> Precio c/u. </i></a>
                        </article>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-2">
                    <div class="contenido">
                        <figure>
                            <a href=""><img src="img/productos/img-cartuchera-canopla-moving.jpg " alt="" height="100" width="100" /></a>
                        </figure>
                        <article>
                            <h2>Acuarelas 12x - Faber-Castell</h2>
                            <span> "Set de 12 acuarelas ideales para pintar al óleo."</a></span>
                            <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                            <a href=" " class="prec"><i> Precio c/u. </i></a>
                        </article>
                    </div>
                </div>
            </div>

            <div class="row productos">
                <div class="col-12 titulo">
                    <h2>¡ Ofertas de la semana !</h2>
                </div>
            </div>
        </section>
    </div>

    <footer class="container-fluid">
        <div class="row footer">
            <div class="col-lg-3  col-sm-3 col-xs-12">
                <div class="info">
                    <h4> Informacion </h4>
                    <p></p>
                    <p>Tel : 1515151515</p>
                    <p>Domicilio : Calle falsa 123 </p>
                    <p>E-mail : ejemplo@ejemplo.com</p>
                    <p>Horarios : Lun-Vie 07:30 hs a 17:30 hs / Sab 08 hs a 12hs </p>
                </div>
            </div>

            <div class="col-lg-3  col-sm-3 col-xs-12">
                <div class="redes">
                    <article>
                        <h4>¡Siguenos en nuestras redes sociales!</h4>
                        <div class="row">
                            <div class="col-4">
                                <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="col-4 facebook">
                                <a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
                            </div>
                            <div class="col-4 instagram">
                                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="col-lg-3  col-sm-3 col-xs-12">
                <div class="sub-barra">
                    <article>
                        <h4> D - Raje </h4>
                        <a href="">Inicio</a>
                        <a href="">Productos</a>
                        <a href="">Ayuda / Contacto</a>
                        <a href="">Envios</a>
                    </article>
                </div>
            </div>

            <div class="col-lg-3  col-sm-3 col-xs-12">
                <div class="nova">
                    <article>
                        <h4>
                            ¡Estamos para agilizar tus tiempos!
                        </h4>
                        <p>Puedes ver y acceder a cualquiera de nuestros articulos escolares de libreria y artistica.</p>
                        <p>¡Proximamente! Rotiseria Pio and Eric </p>
                    </article>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>