<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

            <div class="container-fluid">
                <section>
                    <div class="row productos">
                        <div class="col-12 titulo">
                            <h2>¡Bienvenidos! a la libreria online D-RAJE</h2>
                        </div>

                        <div class="col-12 col-md-4 col-lg-2">
                            <div class="contenido">
                                <figure>
                                    <a href=""><img src="img/productos/img-acuarelas-faber-castell.jpg " alt="" /></a>
                                </figure>
                                <article>
                                    <h2>Acuarelas 12x - Faber-Castell</h2>
                                    <span>"Set de 12 acuarelas ideales para pintar al óleo."</span>
                                    <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                                    <a href=" " class="prec"><i> Precio c/u. </i></a>
                                </article>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-2">
                            <div class="contenido">
                                <figure>
                                    <a href=""><img src="img/productos/img-boligrafo-azul-simball.jpg " alt="" /></a>
                                </figure>
                                <article>
                                    <h2>Bolígrafo, Simball</h2>
                                    <span>"Boligrafo retractil color azul"</span>
                                    <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                                    <a href=" " class="prec"><i> Precio c/u. </i></a>
                                </article>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-2">
                            <div class="contenido">
                                <figure>
                                    <a href=""><img src="img/productos/img-cartuchera-canopla-moving.jpg " alt="" height="100" width="100" /></a>
                                </figure>
                                <article>
                                    <h2>Acuarelas 12x - Faber-Castell</h2>
                                    <span> "Set de 12 acuarelas ideales para pintar al óleo."</a></span>
                                    <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                                    <a href=" " class="prec"><i> Precio c/u. </i></a>
                                </article>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-2">
                            <div class="contenido">
                                <figure>
                                    <a href=""><img src="img/productos/img-acuarelas-faber-castell.jpg " alt="" /></a>
                                </figure>
                                <article>
                                    <h2>Acuarelas 12x - Faber-Castell</h2>
                                    <span>"Set de 12 acuarelas ideales para pintar al óleo."</span>
                                    <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                                    <a href=" " class="prec"><i> Precio c/u. </i></a>
                                </article>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-2">
                            <div class="contenido">
                                <figure>
                                    <a href=""><img src="img/productos/img-boligrafo-azul-simball.jpg " alt="" /></a>
                                </figure>
                                <article>
                                    <h2>Bolígrafo, Simball</h2>
                                    <span>"Boligrafo retractil color azul"</span>
                                    <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                                    <a href=" " class="prec"><i> Precio c/u. </i></a>
                                </article>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-2">
                            <div class="contenido">
                                <figure>
                                    <a href=""><img src="img/productos/img-cartuchera-canopla-moving.jpg " alt="" height="100" width="100" /></a>
                                </figure>
                                <article>
                                    <h2>Acuarelas 12x - Faber-Castell</h2>
                                    <span> "Set de 12 acuarelas ideales para pintar al óleo."</a></span>
                                    <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                                    <a href=" " class="prec"><i> Precio c/u. </i></a>
                                </article>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-2">
                            <div class="contenido">
                                <figure>
                                    <a href=""><img src="img/productos/img-acuarelas-faber-castell.jpg " alt="" /></a>
                                </figure>
                                <article>
                                    <h2>Acuarelas 12x - Faber-Castell</h2>
                                    <span>"Set de 12 acuarelas ideales para pintar al óleo."</span>
                                    <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                                    <a href=" " class="prec"><i> Precio c/u. </i></a>
                                </article>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-2">
                            <div class="contenido">
                                <figure>
                                    <a href=""><img src="img/productos/img-boligrafo-azul-simball.jpg " alt="" /></a>
                                </figure>
                                <article>
                                    <h2>Bolígrafo, Simball</h2>
                                    <span>"Boligrafo retractil color azul"</span>
                                    <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                                    <a href=" " class="prec"><i> Precio c/u. </i></a>
                                </article>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-2">
                            <div class="contenido">
                                <figure>
                                    <a href=""><img src="img/productos/img-cartuchera-canopla-moving.jpg " alt="" height="100" width="100" /></a>
                                </figure>
                                <article>
                                    <h2>Acuarelas 12x - Faber-Castell</h2>
                                    <span> "Set de 12 acuarelas ideales para pintar al óleo."</a></span>
                                    <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                                    <a href=" " class="prec"><i> Precio c/u. </i></a>
                                </article>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-2">
                            <div class="contenido">
                                <figure>
                                    <a href=""><img src="img/productos/img-acuarelas-faber-castell.jpg " alt="" /></a>
                                </figure>
                                <article>
                                    <h2>Acuarelas 12x - Faber-Castell</h2>
                                    <span>"Set de 12 acuarelas ideales para pintar al óleo."</span>
                                    <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                                    <a href=" " class="prec"><i> Precio c/u. </i></a>
                                </article>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-2">
                            <div class="contenido">
                                <figure>
                                    <a href=""><img src="img/productos/img-boligrafo-azul-simball.jpg " alt="" /></a>
                                </figure>
                                <article>
                                    <h2>Bolígrafo, Simball</h2>
                                    <span>"Boligrafo retractil color azul"</span>
                                    <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                                    <a href=" " class="prec"><i> Precio c/u. </i></a>
                                </article>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-2">
                            <div class="contenido">
                                <figure>
                                    <a href=""><img src="img/productos/img-cartuchera-canopla-moving.jpg " alt="" height="100" width="100" /></a>
                                </figure>
                                <article>
                                    <h2>Acuarelas 12x - Faber-Castell</h2>
                                    <span> "Set de 12 acuarelas ideales para pintar al óleo."</a></span>
                                    <button><a href=" "class="ver-mas"><i> Ver mas </i><a></button>
                                    <a href=" " class="prec"><i> Precio c/u. </i></a>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="row productos">
                        <div class="col-12 titulo">
                            <h2>¡ Ofertas de la semana !</h2>
                        </div>
                    </div>
                </section>
            </div>

            <%- include('partials/footer') %>

    </body>

</html>