<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <div class="container">
                <h1><span>Registrarme</span></h1>
                <div class="agrupacion">
                    <!--todo el formulario esta dentro de este div-->
                    <form action="#" method="POST" enctype="multipart/form-data">
                        <p>
                            <label for="correo">Ingrese su correo:</label>
                            <input type="email" name="correo" required id="correo">
                        </p>
                        <p>
                            <label for="password">Ingrese su contraseña:</label>
                            <input type="password" name="password" required id="contraceña1">
                        </p>
                        <p>
                            <label for="password2">Repetir contraseña:</label>
                            <input type="password" name="password2" required id="contraceña2">
                        </p>
                        <p>
                            <label for="nombre">Ingrese su nombre:</label>
                            <input type="text" name="nombre" required id="nombre">
                        </p>
                        <p>
                            <label for="apellido">Ingrese su apellido:</label>
                            <input type="text" name="apellido" required id="apellido">
                        </p>
                        <p>
                            <label for="exampleFormControlFile1">Seleccionar imagen</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1" name = "image">
                        </p>

                        <input type="checkbox"
                        class="custom-control-input"  id="customCheck1" name="byc">
                    <label class="custom-control-label" for="customCheck1">Acepto las bases y condiciones</label><br>
                    <a href="" class="text-info">Ver bases y condiciones</a><br>

                    
                        <div class="boton-registro">
                            <button>Registrarme</button>
                        </div>
                    </form>
                </div>
                <div class="cuentaExistente">
                    <p>¿Tienes una cuenta?<a href="#">Iniciar sesíon</a></p>
                </div>
            </div>
            <%- include('partials/footer') %>

    </body>

</html>