<footer class="container-fluid">
    <div class="row footer">
        <div class="col-lg-3  col-sm-3 col-xs-12">
            <div class="info">
                <h4> Informacion </h4>
                <p></p>
                <p>Tel : 1515151515</p>
                <p>Domicilio : Calle falsa 123 </p>
                <p>E-mail : ejemplo@ejemplo.com</p>
                <p>Horarios : Lun-Vie 07:30 hs a 17:30 hs / Sab 08 hs a 12hs </p>
            </div>
        </div>

        <div class="col-lg-3  col-sm-3 col-xs-12">
            <div class="redes">
                <article>
                    <h4>¡Siguenos en nuestras redes sociales!</h4>
                    <div class="row">
                        <div class="col-4">
                            <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                        </div>
                        <div class="col-4 facebook">
                            <a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
                        </div>
                        <div class="col-4 instagram">
                            <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="col-lg-3  col-sm-3 col-xs-12">
            <div class="sub-barra">
                <article>
                    <h4> D - Raje </h4>
                    <a href="">Inicio</a>
                    <a href="">Productos</a>
                    <a href="">Ayuda / Contacto</a>
                    <a href="">Envios</a>
                </article>
            </div>
        </div>

        <div class="col-lg-3  col-sm-3 col-xs-12">
            <div class="nova">
                <article>
                    <h4>
                        ¡Estamos para agilizar tus tiempos!
                    </h4>
                    <p>Puedes ver y acceder a cualquiera de nuestros articulos escolares de libreria y artistica.</p>
                    <p>¡Proximamente! Rotiseria Pio and Eric </p>
                </article>
            </div>
        </div>
    </div>
</footer>

<!--scripts de bootstrap-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>