<header class="container-fluid">
    <div class="logo">
        <a href="/"><img src="/images/logo/logoCircular.png" alt=" " height="70" width="70" /></a>
    </div>

    <div class="nombre"> D - RAJE </div>

    <div class="login">
        <ul>
            <li>
                <a href="/users/login">Ingresár usuario <i class="fas fa-id-badge"></i></a>
            </li>
        </ul>
    </div>

    <div class="barra">
        <form action="/products/search" method="GET">
            <input type="text" name="search" placeholder="Buscar productos, marcas y más" />
            <button type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
    </div>

    <nav class="barra-nav">
        <ul>
            <li class="in">
                <a href="/">Inicio</a>
            </li>
            <li class="l-n">
                <a href="/products/detalle/1">Productos</a>
            </li>
            <li class="pc">
                <a href="">Ayuda</a>
            </li>
            <li class="pc">
                <a href="">Envios</a>
            </li>
            <li class="l-n">
                <a href="/users/shop">Mi carrito <i class="fas fa-shopping-cart"></i>
          </a>
            </li>
        </ul>
    </nav>
</header>